<%= form_with model: model, method: method, local: true do |form| %>
  <%= render 'shared/errors', object: @question %>

  <p>
    <%= form.label :text, 'Question:' %>

    <% if @question.errors.empty? %>
      <br>
    <% end %>

    <%= form.text_area :text, rows: 5, cols: 60 %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
