<%= render template: 'tests/show' %>
<hr>

<h1><%= question_header(@question) %></h1>

<%= render 'form', model: [@question], method: :put, type: :edit %>

<%= link_to 'Back', test_questions_path(@test) %>
|
<%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
