<%= render template: 'tests/show' %>
<hr>

<p>
  <%= question_text(@question) %>
</p>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Back', test_questions_path(@question.test) %>
|
<%= link_to 'New', new_question_answer_path(@question) %>
