<%= render template: 'tests/show' %>
<hr>

<h1><%= t('.completed') %></h1>

<% if @test_passage.success? %>

  <h3 style="color: green;">
    <%= t('.success', result: @test_passage.result) %>
  </h3>

<% else %>

  <h3 style="color: red;">
    <%= t('.failure', result: @test_passage.result) %>
  </h3>

<% end %>

<%= link_to t('helpers.links.back'), root_path %>
