<%= form_with model: model, local: true do |form| %>
  <%= render 'shared/errors', object: @answer %>

  <p>
    <%= form.label :text, 'Answer:', style: 'display: block' %>
    <%= form.text_area :text, rows: 5, cols: 60 %>
  </p>

  <p>
    <%= form.check_box :correct %>
    <%= form.label :correct %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
