<%= render template: 'tests/show' %>
<hr>

<h1>Edit Answer</h1>

<p>
  <%= question_text(@answer.question) %>
</p>

<%= render 'form', model: @answer %>

<%= link_to 'Back', @answer.question %>
|
<%= link_to 'Delete', @answer, method: :delete, data: { confirm: 'Are you sure?' } %>
