<%= render template: 'tests/show' %>
<hr>

<h1><%= t('.header') %></h1>

<p>
  <%= question_text(@answer.question) %>
</p>

<%= render 'form', model: [:admin, @answer] %>

<%= link_to t('helpers.links.back'), admin_question_path(@answer.question) %>
|
<%= link_to t('helpers.links.delete'), admin_answer_path(@answer),
            method: :delete, data: { confirm: t('helpers.links.confirm') } %>
