<div class="test-header">
  <%= render template: 'tests/show' %>
</div>

<div class="m-3">
  <h3><%= t('.header') %></h3>

  <p>
    <%= question_text(@question) %>
  </p>

  <%= render 'form', model: [:admin, @question, @answer] %>

  <%= link_to t('helpers.links.back'), admin_question_path(@question) %>
</div>
