<%= render template: 'tests/show' %>
<hr>

<h1><%= t('.header') %></h1>

<p>
  <%= question_text(@question) %>
</p>

<%= render 'form', model: [:admin, @question, @answer] %>

<%= link_to t('helpers.links.back'), admin_question_path(@question) %>
