<%= render template: 'tests/show' %>
<hr>

<p>
  <%= question_text(@answer.question) %>
</p>

<p>
  <b>Answer:</b>
  <br>
  <%= @answer.text %>
</p>

<p>
  <b>Correct:</b>
  <br>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question) %>
