<%= render template: 'tests/show' %>
<hr>

<h1><%= question_header(@question) %></h1>

<%= render 'form', model: [:admin, @question] %>

<%= link_to t('helpers.links.back'), admin_test_questions_path(@test) %>
|
<%= link_to t('helpers.links.delete'), admin_question_path(@question),
            method: :delete, data: { confirm: t('helpers.links.confirm') } %>
