<div class="test-header">
  <%= render template: 'tests/show' %>
</div>

<div class="m-3">
  <h3><%= t('.questions') %></h3>

  <ol>
    <%= render @questions %>
  </ol>

  <%= link_to t('helpers.links.back'), admin_tests_path, class: 'mr-3' %>
  <%= link_to t('helpers.links.new'), new_admin_test_question_path(@test), class: 'mr-3' %>
</div>
