<%= render template: 'tests/show' %>
<hr>

<h2><%= t('.questions') %></h2>

<ol>
  <%= render @questions %>
</ol>

<%= link_to t('helpers.links.back'), admin_tests_path %>
|
<%= link_to t('helpers.links.new'), new_admin_test_question_path(@test) %>
