<%= render template: 'tests/show' %>
<hr>

<p>
  <%= question_text(@question) %>
</p>

<h2><%= t('.answers') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('helpers.links.back'), admin_test_questions_path(@question.test) %>
|
<%= link_to t('helpers.links.new'), new_admin_question_answer_path(@question) %>
