<div class="test-header">
  <%= render template: 'tests/show' %>
</div>

<div class="m-3">
  <p>
    <%= question_text(@question) %>
  </p>

  <h3><%= t('.answers') %></h3>

  <ol>
    <%= render @question.answers %>
  </ol>

  <%= link_to t('helpers.links.back'), admin_test_questions_path(@question.test), class: 'mr-3' %>
  <%= link_to t('helpers.links.new'), new_admin_question_answer_path(@question), class: 'mr-3' %>
</div>
