<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', object: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title, rows: 5, cols: 60, autofocus: true %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level, class: 'form-level' %>
  </p>

  <p>
    <%= form.label :timer %><br>
    <%= form.number_field :timer, min: 0, class: 'form-timer' %>
  </p>

  <div class="mt-4 mb-4">
    <%= form.submit %>
  </div>
<% end %>
