<tr>
  <td class="text-left"><%= link_to test.title, admin_test_questions_path(test) %></td>
  <td><%= test.questions.count %></td>
  <td><%= test_level(test) %></td>
  <td class="text-left">
    <%= link_to t('helpers.links.show'), admin_test_questions_path(test), class: 'm-3' %>
    <%= link_to t('helpers.links.edit'), edit_admin_test_path(test), class: 'm-3' %>
    <%= link_to t('helpers.links.delete'), admin_test_path(test), class: 'm-3',
                method: :delete, data: { confirm: t('helpers.links.confirm') } %>
  </td>
</tr>
