<table class="tests table table-striped">
  <tr>
    <th width="10%" class="text-left"><%= t('activerecord.models.test') %></th>
    <th width="3%"><%= t('tests.index.num') %></th>
    <th width="11%"><%= t('activerecord.attributes.test.level') %></th>
    <th></th>
  </tr>
  <%= render @tests %>
</table>

<%= link_to t('helpers.links.new'), new_admin_test_path, class: 'btn btn-primary ml-3' %>
