<%= render 'shared/errors', object: @test %>

<table class="tests table table-striped">
  <tr>
    <th class="text-left"><%= t('activerecord.models.test') %></th>
    <th><%= t('tests.index.num') %></th>
    <th><%= t('activerecord.attributes.test.level') %></th>
    <th></th>
    <th width="100%"></th>
  </tr>
  <%= render @tests %>
</table>

<%= link_to t('helpers.links.new'), new_admin_test_path, class: 'btn btn-primary ml-3' %>
