<table>
  <tr><td class="test label">Test:</td><td><%= @test.title %></td></tr>
  <tr><td class="test label">Category:</td><td><%= @test.category.title %></td></tr>
  <tr><td class="test label">Level:</td><td><%= test_level(@test) %></td></tr>
  <tr><td class="test label">Author:</td><td><%= @test.author.name %><%
  %> (<a href="mailto: <%= @test.author.email %>"><%= @test.author.email %></a>)</td></tr>
</table>
