<table class="table table-striped tests">
  <tr>
    <th width="10%" class="text-left sort-by-title pointer">
      <%= t('activerecord.models.test') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th width="3%"><%= t('.num') %></th>
    <th width="11%"><%= t('activerecord.attributes.test.level') %></th>
    <th></th>
  </tr>
  <%= render @tests %>
</table>
<%= link_to t('helpers.links.feedback'), new_feedback_path, class: 'ml-3' %>
