<table>
  <tr><td style="text-align: left; font-weight: bold;">Test:</td><td>&nbsp;</td><td><%= @test.title %></td></tr>
  <tr><td style="text-align: left; font-weight: bold;">Category:</td><td>&nbsp;</td><td><%= @test.category.title %></td></tr>
  <tr><td style="text-align: left; font-weight: bold;">Level:</td><td>&nbsp;</td><td><%= @test.level %></td></tr>
  <tr><td style="text-align: left; font-weight: bold;">Author:</td><td>&nbsp;</td><td><%= @test.author.name %><%
  %> (<a href="mailto: <%= @test.author.email %>"><%= @test.author.email %></a>)</td></tr>
</table>
