<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<table width="100%" class="admin">
  <tr>
    <td>
      <b class="title">
        <%= link_to 'TestGuru', root_path %>
        &nbsp;&ndash;&nbsp;
        <%= link_to t('.panel'), admin_tests_path %>
      </b>
    </td>
    <% if user_signed_in? %>
      <td align="right">
        <%= t('layouts.application.welcome_header', name: current_user.name) %>
        &nbsp;|&nbsp;
        <%= link_to t('layouts.application.exit'), destroy_user_session_path, method: :delete %>
      </td>
    <% end %>
  </tr>
</table>
<hr style="margin-bottom: 15px">
<%= render 'shared/flash' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
